body {
  background-color: #f4f9ff;
  color: #000;
  font-size: 1rem;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.section-title {
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px;
}

#header {
  margin-top: 60px;
}

#header .title {
  width: 160px;
  line-height: 1px;
  margin-bottom: 15px;
}

#header img {
  max-width: 100%;
}

#header .title a {
  display: block;
}
/*----------------------
TOP Photo 
------------------------*/

.mainvisual {
  width: 1000px;
  margin: 10px auto;
}

/*----------------------
INDEX
------------------------*/

#index {
  background: white;
  padding: 30px;
  margin-bottom: 60px;
}

.inner {
  max-width: 600px;
  margin: 0 auto;
}

#index .index-list li {
  margin-bottom: 20px;
}

/*----------------------
DETAIL
------------------------*/

#dentail img {
  width: 270px;
}

#dentail .content-title {
  display: flex;
}
